.color1{
    background:yellow;
}

.color2{
    background:red;
}

#block{
    background: #ccc;
    padding:25px;
}

.hide{
    display: none;
}

ul span{
    display: block;
    padding: 10px;
    cursor: pointer;
}

img{
    width: 100%;
}

#products-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

#products-block .product{
    width: 33.33%;
}

.wrap{
    padding: 15px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 0 5px black;
}

#cart{
    background: #ccc;
    min-height: 200px;
}

.cart-product img{
    max-width: 100px;
}

.cart-wrap {
    display: flex;
    height: 100px;
    align-items: center;
    max-width: 400px;
    justify-content: space-between;
    border: 1px solid;
    padding: 15px;
    margin: auto;
}